* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #09091f;
}
/* 重写borderbox11样式 */
.dv-border-box-11 .border-box-content {
  padding: 55px 10px 10px;
  position: absolute;
}
.dv-border-box1.border-box {
  height: 240px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.dv-border-box-1.border-box .border-box-content {
  padding: 20px;
}

.container .full-title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}
.container .content {
  display: flex;
  width: 100%;
  height: 100%;
}
.container .content .left {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.container .content .center {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.container .content .right {
  display: flex;
  flex-direction: column;
  width: 30%;
}
